<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
	    <title>DEMO 1</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link rel="stylesheet" href="{% static "css/login.css" %}" media="screen">
	</head>
	<body>
		{% if test == "end" %}
			<div class ="end">
				<h2><u>{{ user_name }}</u>, You completed your self-esteem.
				<br> You can perform self-assessment <a href="/">again</a>.
			</div>
		{% else %}
			<div class="login">
				<div class="login-screen">
					<div class="app-title">
						<h1>Login</h1>
					</div>
					<form method="POST">
						{% csrf_token %}
						<div class="login-form">
							<div class="control-group">
								<input type="text" class="login-field" value="" placeholder="username" name="username"  id="login-name">
								<label class="login-field-icon fui-user" for="login-name"></label>
							</div>
							<div class="control-group">
								<input type="password" class="login-field" value="" placeholder="password" name="password" id="login-pass">
								<label class="login-field-icon fui-lock" for="login-pass"></label>
							</div>
							<input class="btn btn-primary btn-large btn-block" type = "submit" value ="Login" >
							<a class="login-link" href="#">Lost your password?</a>
					</form>
					</div>
				</div>
			</div>
		{% endif %}
	</body>
</html>